<div class="temp">Temp: <span>0</span>&deg;f</div>
<div class="windSpeed">Wind Speed: <span>0</span></div>
<div class="windDir">Wind Direction: <span>0</span></div>

<div class="torrents">
  <div class="countdown"></div>
  <table>
    <tr>
      <th>Name</th>
      <th>DL Rate</th>
      <th>UL Rate</th>
      <th>Status</th>
      <th>Added</th>
      <th>Finished</th>
    </tr>
  </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js" type="text/javascript"></script>
<script src="js/default.js" type="text/javascript"></script>