body {
   margin: 35px 200px;
}

.weather-card.mdl-card {
  background: #3E4EB8;
}

.weather-card > .mdl-card__title {
  align-items: flex-start;
  color: white;
}

.weather-card > .mdl-card__title > h4 {
  margin-top: 0;
}